* {
    font-family: Roboto, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: 0;
}

.header {
    padding: 0 200px;
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex: auto;
}

.container.one {
    padding: 50px 200px;
    gap: 20px;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
}

.container.one .hero {
    display: flex;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    padding-bottom: 10px;
}

.container.one .subtext {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.container.one .btn {
    border-style: none;
}

.container.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px 200px;
}

.container.two .heading {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-bottom: 50px;
}

.container.two ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.container.two li {
    max-width: 200px;
    text-align: justify;
}

.container.two img {
    border: solid #3882F6 3px;
    border-radius: 10px;
}

.container.three {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 50px 200px;
}

.container.three .quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.container.three .author {
    align-self: stretch;
    max-width: 80%;
    text-align: end;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 6px;
    font-size: 18px;
    padding: 4px 30px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}